body {
}

.intropanel {
    position: relative;
    top: 100px;
}

.center-block {
    margin: 30px 20px 30px 20px;
}

.btns-intro {
    padding-top: 20px;
}

p, label, h1, h2, h3, h4, th, a {
    word-wrap: break-word;
}

/*tables css*/

tbody {
    border-style: hidden;
}

.table > tbody > tr > td {
    padding: 6px 3px 6px 3px;
}

.table > tbody > tr > th {
    padding-bottom: 10px;
    padding-left: 3px;
}

.trHeader {
    border-style: solid;
}

tr.item {
    border-style: hidden;
    text-indent: 10px;
}

.areaTd {
    border-style: hidden;
    font-weight: bold;
}

.behovsbedomningTd {
    border-style: hidden;
}




/*Navigation tabs style*/
#navTabs h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#navTabs .tab-content {
    color: white;
    background-color: #084c77;
    padding: 5px 15px;
}


.tab-pane.active {
    background-color: #084c77;
    margin-top: 20px;
}

#navTabs .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

.button {
    background-color: white;
    color: #084c77;
    margin-bottom: 10px;
    width: 120px;
}

/*Table styles*/
table {
    width: 100%;
    border: solid;
}

tr td {
    border: solid;
}

.behovsbedomningTd {
    text-align: center;
}

.options {
    text-align: center;
}

.prioriteringsTableTr {
    border-bottom-style: hidden;
}

.prioriteringsTableTdTitle {
    padding-top: 15px;
    border-right-style: hidden;
}

td.prioriteringsTableTd {
    /*padding-top: 15px;
    padding-left: 80px;*/
    border-right-style: hidden;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

@media only screen and (min-width:960px) {
    /* styles for browsers larger than 960px; */
}

@media only screen and (min-width:1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width:2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (max-device-width:480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */

}

@media only screen and (device-width:768px) {
    /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width:320px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */

    /*#navTabs .tab-content {
        width: 150%;
    }*/
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}
